#graph
javascript:
  $(function () {
    // グラフデータの追加
    graph_option.series[0]['data'] = #{raw @hpa.to_json};
    graph_option.series[1]['data'] = #{raw @humid.to_json};
    graph_option.series[2]['data'] = #{raw @temp.to_json};
    graph_option.xAxis.categories = #{raw @x.to_json};
    var graph = new Highcharts.chart(graph_option); // グラフ描画
  });
/ = console
